<?xml version="1.0"?>
<launch>

  <!-- bring up the robot in gazebo -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

  <!-- spawn the shelf -->
  <node name="spawn_shelf" pkg="gazebo_ros" type="spawn_model" args="-file $(find pr2_amazon_challenge_sim)/gazebo_models/kiva_pod/model.sdf -sdf -x 1.9872 -Y -1.5708 -model kiva_shelf"/>

  <node name="spawn_order_bin" pkg="gazebo_ros" type="spawn_model" args="-file $(find pr2_amazon_challenge_sim)/gazebo_models/order_bin/model.sdf -sdf -x -0.24 -y 0.7595 -z 0.1016  -model order_bin"/>
      
</launch>