<?xml version="1.0"?>
<launch>

  <include file="$(find pr2_amazon_challenge_sim)/launch/pr2_empty_shelf.launch" />
  <rosparam command="load" file="$(find pr2_amazon_challenge_sim)/config/test_random.yaml"/>
  
  <node name="dummy_simtrack_segmentation" pkg="pr2_amazon_challenge_sim" type="dummy_simtrack_segmentation" output="screen"/>
      
</launch>